body {
  background: linear-gradient(to bottom, cyan, black);
  height: 100vh;
  padding: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}
